
body {

  margin: 0 auto;
  background-color: olivedrab;
  display: flex;
  align-items: center;
  justify-content: center;
}


button{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  padding: 10px;
  position: sticky;
  background-color: brown;
  border: 2px solid;
  width: 300px;
  height: 100px;
  transition-duration: 0.5s;
  border-radius: 5%;
  margin-top: 300px;
  

}

button:hover{
  border-color: #370617;
  background-color: chocolate;
  color: black;
  box-shadow: 10px 5px 5px beige;
  transform: translateY(-0.25em);
  cursor: pointer;
}